@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap');
@import url("https://fonts.cdnfonts.com/css/bestermind");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    overflow-x: hidden;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
.font-modify{
    font-feature-settings: 'tnum' on, 'lnum' on;
}